<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CustomLab order received.</title>
</head>
<body>
<h3>Order confirmation</h3>
<p>Hello, we have received an order through our website.</p>
<p>You will shortly receive a detailed invoice regarding your order.</p>
</body>
</html>
