@use "sass:color";

@mixin padding-h($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin padding-v($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin center-v($height, $padding, $top: 0) {
  height: $height - 2 * $padding;
  @include padding-v($padding);
  top: $top
}

$font-size-big: 1.5rem;
$font-size-normal: 1rem;
$font-size-less: 0.8rem;
$font-size-little: 0.7rem;

$weight-light: 300;
$weight-normal: 500;
$weight-heavy: 900;

$top-icon-size: 50px;
$top-icon-margin: 10px;

$configurator-height: calc(100vh - 250px);

$accent-light: #A730C5;
$accent-dark: #8710A5;
$background-grey: #BEBEBE;
$background-dark: #181818;

$min-desktop-width: 640px;

$confirm-cancel-size: calc(1rem + 0.11rem * 2 + 50px);

:root {
  --accent-light: #A730C5;
  --accent-dark: #{$accent-dark};
  --background-grey: #BEBEBE;
  --background-dark: #{$background-dark};

  --font-size-big: 2rem;
  --font-size-normal: 1.5rem;
  --font-size-less: 1.25vw;
  --font-size-little: 1rem;

  --line-height: calc(var(--font-size-normal) + 2px);

  --weight-light: 300;
  --weight-normal: 500;
  --weight-heavy: 900;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* make scrollbar transparent */
}

@mixin top-icon {
  margin: $top-icon-margin;
  width: $top-icon-size;
  height: $top-icon-size;
}

@mixin text-center-line($lh) {
  line-height: $lh;
  height: $lh;
}

html {
  font-size: min(calc(1em + 1vw), 26px);
  font-family: 'Lato', serif;
  font-weight: $weight-light;
}

body {
  background-color: var(--background-grey);
  margin: 0;
  overflow: hidden;
}

input {
  padding: 0 0 5px 0;
  border: none;
  border-bottom: 2px solid $accent-dark;
  background: transparent;
  font-size: $font-size-normal;
  font-weight: $weight-normal;
  text-align: center;
  color: $accent-dark;
}

button, app-order-button {
  color: black;
  background-color: transparent;
  border: 0.11rem solid;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: var(--weight-heavy);
}

:focus {
  outline: none;
}

[hidden] {
  display: none !important;
}

span {
  display: inline-block;
}

.money {
  color: var(--accent-dark);
  font-weight: var(--weight-light);
}

.circled {
  min-width: var(--line-height);
  border-radius: 50px;
}

.cancel {
  color: #989898;
}

.confirm {
  color: var(--accent-light);
}

app-confirm-cancel {
  position: absolute;
  display: flex;
  $margin-horizontal: 20px;
  width: calc(100% - #{2 * $margin-horizontal});
  margin: 20px $margin-horizontal;
  bottom: 0;
  left: 0;

  > * {
    margin: 0 10px;
    flex-grow: 1;
    font-size: 1em;
  }
}

app-option-icon {
  display: inline-block;
  $border-size: 3px;
  $size: calc(50px - #{$border-size * 2});

  width: $size;
  height: $size;

  //background-color: $accent-dark;
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: $border-size;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;

  > img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
  }
}

app-part-selector {
  z-index: -1;
  position: fixed;
  top: 50px;
  width: 80%;
  display: block;
  text-align: center;
  left: 10%;
  height: $configurator-height;

  & > div:not(:last-child) {
    height: 50%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      left: 0;
      top: 0;
    }

    & > div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }

    &:last-child {
      top: 15px;
      position: relative;
    }
  }

  &:not([data-mobile]) {
    z-index: -1;
    position: fixed;
    width: 30vw;

    @include center-v(100vh, 10vh);
    @include padding-h(5vw);

    left: 0;

    > :last-child { // selects 'modifications count' label
      position: fixed;
      right: 15px;
      padding: 5px;
      bottom: $confirm-cancel-size;
    }
  }
}


app-main-page {
  display: inline-block;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;

  &[hidden] {
    display: none;
  }

  > .background {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, #000000, #8710a5 100%);
  }

  > img {
    position: relative;

    $size: clamp(150px, 20vw, 200px);
    width: $size;

    margin: min(10vw, 50px) calc(50% - #{$size} / 2);

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  > div.languages {
    position: absolute;
    top: $top-icon-margin;
    right: $top-icon-margin;

    > div { // selects individual language buttons
      background-color: rgba(0, 0, 0, 0.5);
      margin: 5px 3px;
      color: white;
      padding: 1px 10px;
      border-radius: 100px;
      font-size: $font-size-little;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      &.selected {
        background-color: black;
      }
    }
  }

  > div:last-child { // selects panels
    > div { // selects individual panel
      padding: 7px 10px;
      background-color: var(--accent-dark);

      > .product {
        color: white;
        font-weight: var(--weight-heavy);
        font-size: var(--font-size-big);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 10px 0;
      }

      > :first-child, > :last-child {
        color: rgba(255, 255, 255, 0.25);
      }

    }
  }

  &:not([open]) {
    display: inline-block;
    z-index: 100;
    position: absolute;
    overflow: initial;

    @include top-icon;

    &[hidden] {
      display: none;
    }

    > img {
      border-radius: 50%;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
    }

    > :not(img) {
      display: none;
    }
  }

  &:not([data-mobile]) {
    > div.languages {
      display: block;
      position: fixed;
      top: 2 * $top-icon-margin + $top-icon-size;
      right: $top-icon-margin;
    }
  }
}

#logo-image {
  display: inline-block;
  width: var(--top-icon-size);
  height: var(--top-icon-size);
  margin: var(--top-icon-margin);
  z-index: 100;
  position: absolute;
  overflow: initial;

  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
}

app-order-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: center;
  width: fit-content;
  left: auto;

  > :not(.money) {
    font-weight: var(--weight-heavy);

  }

  > .money {
    margin: 0 10px;
  }

  &[data-mobile] {
    left: 15px;
    right: 15px;
    width: auto;
  }
}

app-cart-icon {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include top-icon;

  > img {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    margin: 10px;
  }

  > div {
    position: absolute;
    color: white;
    background: color.change($accent-dark, $alpha: 0.8);
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-weight: 900;
  }
}


app-prompt {
  > div {
    $size: min(600px, 50%);
    z-index: 10000;
    position: fixed;
    background: white;
    width: $size;
    box-shadow: 0 4px 30px 0 black;
    left: calc(50% - #{$size} / 2);
    top: 10vh;
    height: 50vh;
    border-radius: 15px;

    > div {
      margin: 10%;
      top: 20%;

      text-align: center;
      position: relative;

    }
  }

  &::after {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000B0;
    content: '';
    z-index: 1000;
  }

  &[data-mobile] {
    width: 100vw;
    box-shadow: none;
    left: 0;
    top: 0;
    height: 100vh;

    &::after {
      display: none;
    }

    > div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;

      > div {

      }
    }
  }
}

app-icon {
  display: inline-block;
  position: relative;

  $icon-size: 70%;
  $icon-left: (100% - $icon-size) / 2;
  $border-size: min(5px, 1vw);

  img, .dimmer {
    display: block;
    width: $icon-size;
    margin-left: $icon-left;
    border-radius: 50%;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  img {
    $size: calc(#{$icon-size} - 2 * #{$border-size});
    border: $border-size solid white;
    width: $size;
    height: $size;
    //background-color: $accent-dark;
    background-color: black;
    object-fit: contain;

    margin-bottom: -1 * $icon-size;
  }

  .dimmer {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    margin-bottom: 40%;

    &:after {
      margin-bottom: -100%;
    }
  }

  div {
    text-align: center;
    color: white;
    text-shadow: 0 2px 10px black;
    font-size: 1em;

    &.part-name {
      font-weight: $weight-heavy;
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
      white-space: nowrap;
    }

    &.options-count {
      font-size: $font-size-less;
      padding: 0 2px 5px;
    }
  }
}

#cart-status {
  @include text-center-line($top-icon-size + 2 * $top-icon-margin);
  font-size: $font-size-little;
  position: relative;
  width: 100%;
  text-align: center;
  color: black;
  float: right;
}


app-editor {
  display: block;
  position: fixed;
  left: 40vw;
  width: 50vw;
  top: 10vh;

  .parts-container {
    overflow-x: scroll;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow-y: hidden;

    > app-icon {
      width: 150px;
      height: 150px;

      &:not([data-selected]) {
        opacity: 0.5;
      }
    }
  }

  > .options-container {
    > app-part-options {
      display: block;
      overflow-y: scroll;
      height: calc(100vh - 10vh - 150px - 30px - #{$confirm-cancel-size} - 2rem);
    }
  }

  > app-confirm-cancel {
    display: none;
  }

  &[data-mobile] {
    display: none;

    &[data-open] {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      //background: linear-gradient(#ffffff00 16vh, #ffffff30 30vh, #ffffff94 76vh, white 90vh);
      background: linear-gradient(#ffffff00 16vh, #ffffff30 30vh, #00000094 76vh, black 90vh);

      > .parts-container {
        > app-icon {
          height: 40vw;
          width: 50vw;
          left: 50vw;
          font-size: 2rem;
          margin: 5vw 0;

          &:not([data-selected]) {
            display: none;
          }

          > img {
            height: calc(.7 * 50vw - 2 * min(5px, 1vw));
          }
        }
      }

      > app-confirm-cancel {
        display: flex;
      }

      > .options-container {
        position: absolute;
        bottom: calc(1rem + 0.11rem * 2 + 50px);
        top: calc(50vw + 30px);
        width: 100%;
        overflow-y: scroll;
        //background: linear-gradient(0deg, #ffffff, #bfbfbf63 41%, #8888882b);
        background: linear-gradient(0deg, #000000, #000000ad);

        > app-part-options {
          > div {
            padding: 3px max(20px, 10vw);
            border-top: 1px solid #0000007a;

            > .category-name {
              color: rgba(255, 255, 255, 0.5);
            }

            > div {
              > .money {
                font-weight: $weight-heavy;
                color: $accent-light
              }
            }
          }
        }
      }
    }
  }
}

#links-container {
  display: inline-block;
  position: fixed;
  top: 10px;
  left: 80px;

  > * {
    display: inline-block;
    margin-right: 15px;
    font-weight: $weight-heavy;
    @include text-center-line(50px)
  }

  &[data-mobile] {
    display: none;
  }
}

#cart-status[data-responsive] {
  display: none;
}

app-part-options {
  div { // single category container
    .category-name {
      font-size: $font-size-little;
      font-weight: $weight-heavy;
      color: rgba(0, 0, 0, 0.5);
      margin: 15px 0 5px;
    }

    div { // price group
      margin: 10px 0;

      .money { // money label
        width: 70px;
        text-align: left;
        text-shadow: 0 1px 5px #0000007a;
      }

      span:last-child { // options group
        padding: 0 5px;
        width: calc(100% - 80px);
        white-space: nowrap;
        /* display: inline-block; */
        overflow-x: scroll;
        vertical-align: middle;

        > * {
          margin: 0 5px;
        }
      }
    }
  }
}

app-cart-page {
  z-index: 101;
  position: fixed;
  height: 100%;
  width: clamp(380px, 40vw, 600px);
  top: 0;
  right: 0;
  display: inline-block;
  background-color: $background-dark;
  left: unset;

  color: white;

  > .heading, > .total {
    line-height: min(100px, 15vw);
    text-align: center;
    padding: 10px;

    > * {
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  > .heading > :last-child {
    font-weight: var(--weight-normal);
    color: white;
  }

  > .total > :last-child {
    font-weight: var(--weight-light);
    color: var(--accent-dark);
  }

  > .total {
    position: absolute;
    width: calc(100% - 20px);
    bottom: calc(4.5rem + 17px);
    //bottom: calc(5.5rem + 40px);
  }

  > input {
    bottom: 3.5rem;
    position: absolute;
    margin: 5px 25px;
    width: calc(100% - 50px);

    //&.name {
    //  bottom: calc(4.5rem + 20px);
    //}
  }

  > .items {
    overflow: scroll;
    top: 3.5rem;
    position: absolute;
    width: 100%;
    bottom: calc(8rem + 17px);

    > app-cart-item {
      app-counter {
        color: white;

        * {
          color: white;
        }

      }

      .money {
        color: $accent-light;
      }
    }
  }
}

app-cart-page[data-mobile] {
  width: 100%;
}

app-cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;

  > .money {
    width: 100px;
    text-align: center;
  }

  > app-icon {
    width: 120px;
    font-size: 0.6rem;
    margin: 0 2%;
  }
}

app-counter {
  display: inline-block;
  $height: 30px;
  line-height: $height;
  border: 3px solid;
  border-radius: 10px;
  text-align: center;
  font-size: 0.75rem;

  @media screen and (max-width: 350px) {
    width: 30px;
  }

  > button {
    border: none;
  }

  > * {
    min-width: $height;
    padding: 0;
    width: $height;
    vertical-align: middle;
    font-weight: 900;
    font-size: 0.75rem;
    text-align: center;
    display: inline-block;
  }

  > :first-child { // -
    //float: left;
  }

  > :not(:first-child):not(:last-child) { // count text
    //margin: 0 5px;
    //padding: min(3px, 0.1vw);
    width: calc(100% - #{$height * 2});
  }

  > :last-child { // -
    //float: right;
  }
}
