:root {
    --accent-color: #A730C5;
    --accent-color-dark: #8710A5;
    --money-color: #FFB800;
    --background-grey: #818181;

    --font-size-normal: 7vw;
    --font-size-less: 5.5vw;
    --font-size-little: 4.2vw;
    --font-size-big: 10vw;

    --line-height: calc(var(--font-size-normal) + 2px);

    --weight-light: 300;
    --weight-heavy: 900;

    --logo-width: 12vw;
    --logo-margin: 5px;

    --option-size: 12.5vw;
    --part-size: 25vw;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
}

html {
    font-size: var(--font-size-normal);
}

body {
    background-color: var(--background-grey);
    margin: 0;
}

button, div, span {
    font-family: 'Lato', serif;
    font-size: var(--font-size-normal);
    line-height: var(--line-height);
    font-style: normal;
    font-weight: var(--weight-light);
}

button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    font-weight: var(--weight-heavy);
}

button:focus {
    outline: none;
}

span {
    display: inline-block;
}

button.floating {
    border: none;
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 5px 10px;
}

.accent-fg {
    color: var(--accent-color)
}

.accent-bg {
    background-color: var(--accent-color-dark)
}


.money {
    color: var(--money-color);
}


.circled {
    min-width: var(--line-height);
    border-radius: 50px;
}

.part-image {
    width: 100%;
}

.bottom-buttons {
    position: absolute;
    width: calc(100% - 2 * 25px);
    margin: 20px 25px;
    bottom: 0;
}

#logo {
    border-color: white;
    border-style: solid;
    border-width: .5vw;
    border-radius: 50%;
    width: var(--logo-width);
    margin: var(--logo-margin);
}

#identifier {
    color: black;
    float: right;
    font-size: var(--font-size-little);
    margin: calc((var(--logo-width) - var(--line-height)) / 2 + var(--logo-margin));
}

#dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.67);
}

#gradient-background {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 50vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 21.87%);

}

#modification-count {
    color: black;
    font-size: var(--font-size-less);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}

#categories-container {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: calc(5px + 15px + 20px + var(--line-height));
}

#part-container {
    position: relative;
    height: 30vw;
    width: 40vw;
    left: 50vw;
    padding: 10vw 5vw;
    text-align: center;
}

.part-icon-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.part-icon-container > .part-icon {
    position: absolute;
    background-color: var(--accent-color-dark);
    height: var(--part-size);
    width: var(--part-size);
    left: calc((100% - var(--part-size) - 2vw) / 2);
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    border-width: 1vw;
}

.part-icon-container > .part-dimmer {
    position: absolute;
    height: calc(var(--part-size) + 2vw);
    width: calc(var(--part-size) + 2vw);
    background: linear-gradient(transparent, black);
    left: calc((100% - var(--part-size) - 2vw)/2);
    border-radius: 100px;
}

.part-icon-container > .part-name {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: var(--weight-heavy);
    font-size: var(--font-size-big);
}

.category-text {
    color: white;
    font-size: var(--font-size-little);
    font-weight: normal;
    margin: 2.5vw 2.5vw 2.5vw 5vw;
}

.category-options {
    margin: 2.5vw 0 2.5vw 5vw;
}

.category-options > * {
    vertical-align: middle;
}

.category-options > .money {
    margin-right: 15px;
    line-height: calc(var(--option-size) + 1vw);
    height: calc(var(--option-size) + 1vw);
    width: 15vw;
    text-align: center;
}

.options-container {
    height: calc(var(--option-size) + 1vw);
    display: inline-block;
    white-space: nowrap;
    /*line-break: strict;*/
    overflow-x: scroll;
    width: calc(100vw - 15vw - 15px - 7.5vw);
}

.option {
    background-color: var(--accent-color-dark);
    width: var(--option-size);
    height: var(--option-size);
    border-color: white;
    border-style: solid;
    border-width: .5vw;
    border-radius: 50%;
    vertical-align: middle;
}

.cancel {
    color: #989898;
}

.confirm {
    color: var(--accent-color);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


#configurator {
    position: relative;
    width: 80vw;
    margin: 2vw 10vw;
}

#configurator > div, #configurator > div > img {
    width: 100%;
}

#configurator > div > img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}
