@use "sass:color";

$font-size-big: 2rem;
$font-size-normal: 1rem;
$font-size-less: 1.25rem;
$font-size-little: 1rem;

$weight-light: 300;
$weight-normal: 500;
$weight-heavy: 900;

$top-icon-size: 50px;
$top-icon-margin: 10px;

$configurator-height: calc(100vh - 250px);

$accent-light: #A730C5;
$accent-dark: #8710A5;
$background-grey: #BEBEBE;


:root {
  --accent-light: #A730C5;
  --accent-dark: #8710A5;
  --background-grey: #BEBEBE;

  --font-size-big: 2rem;
  --font-size-normal: 1.5rem;
  --font-size-less: 1.25vw;
  --font-size-little: 1rem;

  --line-height: calc(var(--font-size-normal) + 2px);

  --weight-light: 300;
  --weight-normal: 500;
  --weight-heavy: 900;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* make scrollbar transparent */
}

@mixin top-icon {
  margin: $top-icon-margin;
  width: $top-icon-size;
  height: $top-icon-size;
}

@mixin text-center-line($lh) {
  line-height: $lh;
  height: $lh;
}

html {
  font-size: min(calc(1em + 1vw), 26px);
  font-family: 'Lato', serif;
  font-weight: $weight-light;
}

body {
  background-color: var(--background-grey);
  margin: 0;
  overflow: hidden;
}

input {
  padding: 0 0 5px 0;
  border: none;
  border-bottom: 2px solid $accent-dark;
  background: transparent;
  font-size: $font-size-normal;
  font-weight: $weight-normal;
  text-align: center;
  color: $accent-dark;
}

button, app-order-button {
  color: black;
  background-color: transparent;
  border: 0.11rem solid;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: var(--weight-heavy);
}

:focus {
  outline: none;
}

[hidden] {
  display: none !important;
}

span {
  display: inline-block;
}

.money {
  color: var(--accent-dark);
  font-weight: var(--weight-light);
}

.circled {
  min-width: var(--line-height);
  border-radius: 50px;
}

.cancel {
  color: #989898;
}

.confirm {
  color: var(--accent-light);
}

[data-custom-component] {
  position: relative;
  display: inline-block;
}

[data-page-component] {
  background: var(--background-grey);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
}

app-editor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .dimmer {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 15vw;
    background: linear-gradient(180deg, rgba(190, 190, 190, 0) 0%, rgba(103, 103, 103, 0.44) 20.25%, #353535 100%);
  }

  .options {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 5vw;

    > div { // selects categories divs
      > .category-name {
        color: white;
        font-weight: var(--weight-normal);
      }

      > span { // selects line with price and options
        > .money {
          width: 2em;
          text-align: center;
          vertical-align: middle;
          margin-right: 15px;
        }

        > :not(.money) { // selects options container
          white-space: nowrap;
          overflow-x: scroll;
          vertical-align: middle;

          > app-option-icon {
            margin: 0 5px;
          }
        }
      }
    }
  }

  > app-confirm-cancel {
    > * {
      width: 47.5%;
    }

    .confirm {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .cancel {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

app-part-icon {
  z-index: 10;
  display: inline-block;
  position: relative;
  height: 40vw;
  width: 40vw;
  left: 50vw;
  margin: 10vw 5vw;
  text-align: center;


  $border-width: min(5px, 5vw);
  $img-size: 80%;

  img, .dimmer {
    position: absolute;

    left: calc(50% - #{$img-size/2});
    top: calc(50% - #{$img-size/2});

    border-radius: 100%;
  }

  img {
    $size: calc(#{$img-size} - 2 * #{$border-width});
    height: $size;
    width: $size;
    border-width: $border-width;
    background-color: var(--accent-dark);
    border-style: solid;
    border-color: white;
  }

  .dimmer {
    height: $img-size;
    width: $img-size;
    background: linear-gradient(transparent, black);
  }

  .part-name {
    position: relative;
    top: 50%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: $weight-heavy;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: $font-size-big;
  }

  .options-count {
    color: white;
    position: relative;
    font-size: $font-size-little;
    text-shadow: 0 2px 5px rgb(0, 0, 0);
    font-weight: $weight-normal;
    top: 50%;
  }
}

app-confirm-cancel {
  position: absolute;
  $margin-horizontal: 20px;
  width: calc(100% - #{2 * $margin-horizontal});
  margin: 20px $margin-horizontal;
  bottom: 0;
  left: 0;

  > * {
    width: auto;
    min-width: 35%;

    @media screen and (min-width: 350px) {
      width: 49%;
    }
    font-size: 1em;
  }

  .confirm {
    float: right;
  }

  .cancel {
    float: left;
  }
}

app-option-icon {
  display: inline-block;
  $border-size: 3px;
  $size: calc(50px - #{$border-size * 2});

  width: $size;
  height: $size;

  background-color: $accent-dark;
  border-color: white;
  border-style: solid;
  border-width: $border-size;
  border-radius: 50%;
  vertical-align: middle;
}

app-configurator {
  position: relative;
  width: 80%;
  display: block;
  text-align: center;
  left: 10%;
  height: $configurator-height;

  & > div:not(:last-child) {
    height: 50%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      left: 0;
      top: 0;
    }

    & > div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }

    &:last-child {
      top: 15px;
      position: relative;
    }
  }
}

app-main-page {
  display: inline-block;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;

  &[hidden] {
    display: none;
  }

  > .background {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, #000000, #8710a5 100%);
  }

  > img {
    position: relative;

    $size: clamp(150px, 20vw, 200px);
    width: $size;

    margin: min(10vw, 50px) calc(50% - #{$size} / 2);

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  > div.languages {
    position: absolute;
    top: $top-icon-margin;
    right: $top-icon-margin;

    > div { // selects individual language buttons
      background-color: black;
      margin: 5px 3px;
      color: white;
      padding: 1px 10px;
      border-radius: 100px;
      font-size: $font-size-little;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  > div:last-child { // selects panels
    > div { // selects individual panel
      padding: 7px 10px;
      background-color: var(--accent-dark);

      > .product {
        color: white;
        font-weight: var(--weight-heavy);
        font-size: var(--font-size-big);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 10px 0;
      }

      > :first-child, > :last-child {
        color: rgba(255, 255, 255, 0.25);
      }

    }
  }

  &:not([open]) {
    display: inline-block;
    width: var(--top-icon-size);
    height: var(--top-icon-size);
    margin: var(--top-icon-margin);
    z-index: 100;
    position: absolute;
    overflow: initial;

    @include top-icon;

    &[hidden] {
      display: none;
    }

    > img {
      border-radius: 50%;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
    }

    > :not(img) {
      display: none;
    }
  }
}

app-order-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  text-align: center;

  > :not(.money) {
    font-weight: var(--weight-heavy);

  }

  > .money {
    margin: 0 10px;
  }
}

app-cart-icon[data-custom-component] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include top-icon;

  > img {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    margin: 10px;
  }

  > div {
    position: absolute;
    color: white;
    background: color.change($accent-dark, $alpha: 0.8);
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-weight: 900;
  }
}

app-cart-page {
  z-index: 101;

  > .heading, > .total {
    line-height: min(100px, 15vw);
    text-align: center;
    padding: 10px;

    > * {
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  > .heading > :last-child {
    font-weight: var(--weight-normal);
    color: white;
  }

  > .total > :last-child {
    font-weight: var(--weight-light);
    color: var(--accent-dark);
  }

  > .total {
    position: absolute;
    width: calc(100% - 20px);
    bottom: calc(4.5rem + 17px);
  }

  > input {
    bottom: 3.5rem;
    position: absolute;
    margin: 5px 25px;
    width: calc(100% - 50px);
  }


  > .items {
    overflow: scroll;
    top: 3.5rem;
    position: absolute;
    width: 100%;
    bottom: calc(8rem + 17px);

    > app-cart-item {
      $item-margin-v: 15px;
      $item-margin-h: min(#{$item-margin-v}, 1vw);
      $item-size: 100px;
      //$item-size: clamp(70px, 15vw, 100px);

      width: calc(100% - 2 * #{$item-margin-h});
      height: $item-size;
      margin: $item-margin-v $item-margin-h;

      > * {
        vertical-align: middle;
      }

      > app-part-icon {
        left: auto;
        width: $item-size;
        height: $item-size;

        margin: 0 1vw;
        @media screen and (min-width: 640px) {
          margin: 0 min(10vw, 30px) 0 10vw;
        }
        @media screen and (min-width: 1280px) {
          margin: 0 min(15vw, 30px) 0 15vw;
        }

        .part-name {
          font-size: min(0.6em, 19px);
          font-weight: var(--weight-heavy);
        }

        .options-count {
          font-size: min(0.8em, 19px);
        }
      }

      > app-counter {
        width: clamp(90px, 30vw, 200px);
        @media screen and (max-width: 300px) {
          width: 30px;
        }
      }

      > .money {
        @include text-center-line($item-size);
        text-align: center;

        width: 20vw;
        @media screen and (max-width: 300px) {
          width: 30vw;
        }
      }

      > img {
        $size: min(15px, 4vw);
        $m: calc((#{$item-size} - #{$size}) / 2);

        float: right;

        height: $size;

        margin: $m 5vw $m 0;

        @media screen and (max-width: 350px) {
          margin: $m 5px $m 0;
        }
        @media screen and (max-width: 250px) {
          margin: $m 0;
        }
      }
    }

    > hr {
      width: 80%;
      margin: 0 10%;
    }
  }
}

app-counter {
  $height: 30px;
  line-height: $height;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 0.75rem;

  > button {
    border: none;
  }

  > * {
    min-width: $height;
    padding: 0;
    width: $height;
    vertical-align: middle;
    font-weight: 900;
    font-size: 0.75rem;
    text-align: center;
    display: inline-block;
  }

  > :first-child { // -
    //float: left;
  }

  > :not(:first-child):not(:last-child) { // count text
    //margin: 0 5px;
    //padding: min(3px, 0.1vw);
    width: calc(100% - #{$height * 2});
  }

  > :last-child { // -
    //float: right;
  }
}

app-prompt {
  z-index: 10000;

  > div {
    margin: 10vw 10vw;
    text-align: center;
    top: 20vw;
    position: relative;
  }
}

#cart-status {
  @include text-center-line($top-icon-size + 2 * $top-icon-margin);
  font-size: $font-size-little;
  position: relative;
  width: 100%;
  text-align: center;
  color: black;
  float: right;
}
